{% extends 'layout.html'%}

{%load filters %}

{% block title%}
Formuario en Django
{% endblock %}

{% block content %}
<h1 class="title">Formularios en Django</h1>

<!--Get viaja por la URL, Post viaja por la cabecera http-->
<form action="{% url 'save' %}" method="POST">

    {% csrf_token %} <!--Token de seguridad en cookies-->

    <label for="title">Titulo</label>
    <input type="text" name="title"/>
    
    <label for="content">Contenido</label>
    <textarea name="content"></textarea>
    
    <label for="public">Publicado</label>
    <select name="public">
        <option value="1">Si</option>
        <option value="0">No</option>
    </select>

    <input type="submit" value="Guardar"/>



</form>

{% endblock %}