body{
    height: 100vh;
}
.container{
    margin: auto;
}
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

.container-catalog .back-btn{
    margin-left:25px;
    margin-top: 20px;
}

.cont-form .back-btn{
    margin-top: 20px;
    margin-bottom: 0px;
}

#App{
    margin-top: 20px;
    padding: 0 !important;
}